3. Account Admin/Project/Service References/ApplicationApiKeysService/Sahara.Core.Application.ApiKeys.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Sahara.Core.Application.ApiKeys.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Application.ApiKeys.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfApiKeyModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApiKeyModel" nillable="true" type="tns:ApiKeyModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApiKeyModel" nillable="true" type="tns:ArrayOfApiKeyModel" />
  <xs:complexType name="ApiKeyModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApiKey" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApiKeyModel" nillable="true" type="tns:ApiKeyModel" />
</xs:schema>