2. Platform Admin/Project/Service References/PlatformManagementService/Sahara.Core.Platform.Billing.Models1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Billing.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Billing.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Balance">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Available" nillable="true" type="q1:ArrayOfdecimal" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Pending" nillable="true" type="q2:ArrayOfdecimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Balance" nillable="true" type="tns:Balance" />
  <xs:complexType name="ArrayOfTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transfer" nillable="true" type="tns:Transfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransfer" nillable="true" type="tns:ArrayOfTransfer" />
  <xs:complexType name="Transfer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BalanceTransactionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationPayment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatementDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransferID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transfer" nillable="true" type="tns:Transfer" />
  <xs:complexType name="ArrayOfBalanceTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BalanceTransaction" nillable="true" type="tns:BalanceTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBalanceTransaction" nillable="true" type="tns:ArrayOfBalanceTransaction" />
  <xs:complexType name="BalanceTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Available" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BalanceTransactionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
      <xs:element minOccurs="0" name="Net" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BalanceTransaction" nillable="true" type="tns:BalanceTransaction" />
</xs:schema>