2. Platform Admin/Project/Service References/PlatformManagementService/Sahara.Core.Logging.PlatformLogs.Models1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sahara.Core.Logging.PlatformLogs.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Logging.PlatformLogs.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ArrayOfPlatformActivityLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlatformActivityLog" nillable="true" type="tns:PlatformActivityLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlatformActivityLog" nillable="true" type="tns:ArrayOfPlatformActivityLog" />
  <xs:complexType name="PlatformActivityLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Activity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Object" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origin" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Timestamp" type="q1:DateTimeOffset" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlatformActivityLog" nillable="true" type="tns:PlatformActivityLog" />
</xs:schema>