2. Platform Admin/Project/Service References/PlatformManagementService/Sahara.Core.Platform.Partitioning.Models1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Partitioning.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Partitioning.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DocumentPartitionCollectionProperties">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentCount" type="xs:int" />
      <xs:element minOccurs="0" name="ProductCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentPartitionCollectionProperties" nillable="true" type="tns:DocumentPartitionCollectionProperties" />
  <xs:complexType name="DocumentPartitionTenantCollectionProperties">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentCount" type="xs:int" />
      <xs:element minOccurs="0" name="ProductCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentPartitionTenantCollectionProperties" nillable="true" type="tns:DocumentPartitionTenantCollectionProperties" />
  <xs:complexType name="ArrayOfSqlPartition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SqlPartition" nillable="true" type="tns:SqlPartition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSqlPartition" nillable="true" type="tns:ArrayOfSqlPartition" />
  <xs:complexType name="SqlPartition">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MaxTenants" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenantCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SqlPartition" nillable="true" type="tns:SqlPartition" />
  <xs:complexType name="ArrayOfSqlSchemaLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SqlSchemaLog" nillable="true" type="tns:SqlSchemaLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSqlSchemaLog" nillable="true" type="tns:ArrayOfSqlSchemaLog" />
  <xs:complexType name="SqlSchemaLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SqlSchemaLog" nillable="true" type="tns:SqlSchemaLog" />
</xs:schema>