2. Platform Admin/Project/Service References/PlatformManagementService/Sahara.Core.Platform.Users.Models1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Users.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Users.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlatformUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlatformUser" nillable="true" type="tns:PlatformUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlatformUser" nillable="true" type="tns:ArrayOfPlatformUser" />
  <xs:complexType name="PlatformUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlatformUser" nillable="true" type="tns:PlatformUser" />
  <xs:complexType name="ArrayOfPlatformInvitation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlatformInvitation" nillable="true" type="tns:PlatformInvitation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlatformInvitation" nillable="true" type="tns:ArrayOfPlatformInvitation" />
  <xs:complexType name="PlatformInvitation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvitationKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlatformInvitation" nillable="true" type="tns:PlatformInvitation" />
  <xs:complexType name="ArrayOfPlatformPasswordResetClaim">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlatformPasswordResetClaim" nillable="true" type="tns:PlatformPasswordResetClaim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlatformPasswordResetClaim" nillable="true" type="tns:ArrayOfPlatformPasswordResetClaim" />
  <xs:complexType name="PlatformPasswordResetClaim">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordClaimKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlatformPasswordResetClaim" nillable="true" type="tns:PlatformPasswordResetClaim" />
</xs:schema>