2. Platform Admin/Project/Service References/PlatformManagementService/Sahara.Core.Settings.Models.Partitions1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sahara.Core.Settings.Models.Partitions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Settings.Models.Partitions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSearchPartition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchPartition" nillable="true" type="tns:SearchPartition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchPartition" nillable="true" type="tns:ArrayOfSearchPartition" />
  <xs:complexType name="SearchPartition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxTenants" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenantCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchPartition" nillable="true" type="tns:SearchPartition" />
  <xs:complexType name="ArrayOfStoragePartition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoragePartition" nillable="true" type="tns:StoragePartition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoragePartition" nillable="true" type="tns:ArrayOfStoragePartition" />
  <xs:complexType name="StoragePartition">
    <xs:sequence>
      <xs:element minOccurs="0" name="CDN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxTenants" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenantCount" type="xs:int" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoragePartition" nillable="true" type="tns:StoragePartition" />
</xs:schema>