2. Platform Admin/Project/Service References/PlatformManagementService/Sahara.Core.Platform.Reports.Models1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Reports.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Reports.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Billing.Models" />
  <xs:complexType name="BillingReport">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Billing.Models" minOccurs="0" name="BalanceTransactions" nillable="true" type="q1:ArrayOfBalanceTransaction" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Billing.Models" minOccurs="0" name="BalanceTransactions_Available" nillable="true" type="q2:ArrayOfBalanceTransaction" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Billing.Models" minOccurs="0" name="BalanceTransactions_Created" nillable="true" type="q3:ArrayOfBalanceTransaction" />
      <xs:element minOccurs="0" name="BillingIssues" type="xs:boolean" />
      <xs:element minOccurs="0" name="ChargeCount" type="xs:int" />
      <xs:element minOccurs="0" name="RefundCount" type="xs:int" />
      <xs:element minOccurs="0" name="TotalFees" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalGross" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalNet" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalRefunds" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalTransfers" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalTransfers_Complete" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalTransfers_Pending" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransferCount" type="xs:int" />
      <xs:element minOccurs="0" name="TransferCount_Complete" type="xs:int" />
      <xs:element minOccurs="0" name="TransferCount_Pending" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingReport" nillable="true" type="tns:BillingReport" />
</xs:schema>