4. Account Public API/InventoryHawk.Account.Public.Api/Service References/AccountManagementService/Sahara.Core.Accounts.Models1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.PaymentPlans.Models" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountApiUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AccountID" type="ser:guid" />
      <xs:element minOccurs="0" name="AccountManagementUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNameKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountSiteUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountStatus" type="tns:AccountStatus" />
      <xs:element minOccurs="0" name="AccountStatusString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Activated" type="xs:boolean" />
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="CardExpiration" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Closed" type="xs:boolean" />
      <xs:element minOccurs="0" name="ClosureApproved" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Credits" type="xs:int" />
      <xs:element minOccurs="0" name="Delinquent" type="xs:boolean" />
      <xs:element minOccurs="0" name="DocumentPartition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Locked" type="xs:boolean" />
      <xs:element minOccurs="0" name="LockedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Logo" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.PaymentPlans.Models" minOccurs="0" name="PaymentFrequency" nillable="true" type="q1:PaymentFrequency" />
      <xs:element minOccurs="0" name="PaymentFrequencyMonths" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.PaymentPlans.Models" minOccurs="0" name="PaymentPlan" nillable="true" type="q2:PaymentPlan" />
      <xs:element minOccurs="0" name="PaymentPlanName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductSearchIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provisioned" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProvisionedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SchemaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchPartition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SqlPartition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoragePartition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StripeCardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StripeCustomerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StripePlanID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StripeSubscriptionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfAccountUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:simpleType name="AccountStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unprovisioned" />
      <xs:enumeration value="Active" />
      <xs:enumeration value="Inactive" />
      <xs:enumeration value="PastDue" />
      <xs:enumeration value="Unpaid" />
      <xs:enumeration value="Closed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AccountStatus" nillable="true" type="tns:AccountStatus" />
  <xs:complexType name="ArrayOfAccountUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountUser" nillable="true" type="tns:AccountUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountUser" nillable="true" type="tns:ArrayOfAccountUser" />
  <xs:complexType name="AccountUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="ser:guid" />
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNameKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountOwner" type="xs:boolean" />
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountUser" nillable="true" type="tns:AccountUser" />
  <xs:complexType name="ArrayOfUserAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserAccount" nillable="true" type="tns:UserAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserAccount" nillable="true" type="tns:ArrayOfUserAccount" />
  <xs:complexType name="UserAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNameKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountOwner" type="xs:boolean" />
      <xs:element minOccurs="0" name="AccountURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAccount" nillable="true" type="tns:UserAccount" />
  <xs:complexType name="ArrayOfUserInvitation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserInvitation" nillable="true" type="tns:UserInvitation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserInvitation" nillable="true" type="tns:ArrayOfUserInvitation" />
  <xs:complexType name="UserInvitation">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountLogoUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNameKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvitationKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owner" type="xs:boolean" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInvitation" nillable="true" type="tns:UserInvitation" />
  <xs:complexType name="ArrayOfUserPasswordResetClaim">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserPasswordResetClaim" nillable="true" type="tns:UserPasswordResetClaim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserPasswordResetClaim" nillable="true" type="tns:ArrayOfUserPasswordResetClaim" />
  <xs:complexType name="UserPasswordResetClaim">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordClaimKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserPasswordResetClaim" nillable="true" type="tns:UserPasswordResetClaim" />
  <xs:complexType name="AccountCreditCardInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardBrand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Last4" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountCreditCardInfo" nillable="true" type="tns:AccountCreditCardInfo" />
</xs:schema>