2. Platform Admin/Project/Service References/PlatformInitializationService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PlatformInitializationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPlatformInitializationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPlatformInitializationService_IsPlatformInitialized_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPlatformInitialized" />
  </wsdl:message>
  <wsdl:message name="IPlatformInitializationService_IsPlatformInitialized_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPlatformInitializedResponse" />
  </wsdl:message>
  <wsdl:message name="IPlatformInitializationService_ProvisionPlatform_InputMessage">
    <wsdl:part name="parameters" element="tns:ProvisionPlatform" />
  </wsdl:message>
  <wsdl:message name="IPlatformInitializationService_ProvisionPlatform_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProvisionPlatformResponse" />
  </wsdl:message>
  <wsdl:message name="IPlatformInitializationService_PurgePlatform_InputMessage">
    <wsdl:part name="parameters" element="tns:PurgePlatform" />
  </wsdl:message>
  <wsdl:message name="IPlatformInitializationService_PurgePlatform_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurgePlatformResponse" />
  </wsdl:message>
  <wsdl:portType name="IPlatformInitializationService">
    <wsdl:operation name="IsPlatformInitialized">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlatformInitializationService/IsPlatformInitialized" message="tns:IPlatformInitializationService_IsPlatformInitialized_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlatformInitializationService/IsPlatformInitializedResponse" message="tns:IPlatformInitializationService_IsPlatformInitialized_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProvisionPlatform">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlatformInitializationService/ProvisionPlatform" message="tns:IPlatformInitializationService_ProvisionPlatform_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlatformInitializationService/ProvisionPlatformResponse" message="tns:IPlatformInitializationService_ProvisionPlatform_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurgePlatform">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlatformInitializationService/PurgePlatform" message="tns:IPlatformInitializationService_PurgePlatform_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlatformInitializationService/PurgePlatformResponse" message="tns:IPlatformInitializationService_PurgePlatform_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPlatformInitializationService" type="tns:IPlatformInitializationService">
    <wsp:PolicyReference URI="#NetTcpBinding_IPlatformInitializationService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="IsPlatformInitialized">
      <soap12:operation soapAction="http://tempuri.org/IPlatformInitializationService/IsPlatformInitialized" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProvisionPlatform">
      <soap12:operation soapAction="http://tempuri.org/IPlatformInitializationService/ProvisionPlatform" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurgePlatform">
      <soap12:operation soapAction="http://tempuri.org/IPlatformInitializationService/PurgePlatform" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlatformInitializationService">
    <wsdl:port name="NetTcpBinding_IPlatformInitializationService" binding="tns:NetTcpBinding_IPlatformInitializationService">
      <soap12:address location="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Platform/Initialization" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Platform/Initialization</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>