2. Platform Admin/Project/Service References/AccountManagementService/Sahara.Core.Accounts.Themes.Models1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Themes.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Themes.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfThemeModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ThemeModel" nillable="true" type="tns:ThemeModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfThemeModel" nillable="true" type="tns:ArrayOfThemeModel" />
  <xs:complexType name="ThemeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Colors" nillable="true" type="tns:ThemeColorsModel" />
      <xs:element minOccurs="0" name="Font" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ThemeModel" nillable="true" type="tns:ThemeModel" />
  <xs:complexType name="ThemeColorsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Background" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BackgroundGradianetTop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BackgroundGradientBottom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Foreground" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Highlight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Overlay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Shadow" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Trim" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ThemeColorsModel" nillable="true" type="tns:ThemeColorsModel" />
</xs:schema>