2. Platform Admin/Project/Service References/AccountManagementService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Models" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Capacity.Models" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.DocumentModels" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Themes.Models" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Logging.AccountLogs.Models" />
  <xs:element name="GetAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="orderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Models" minOccurs="0" name="GetAccountsResult" nillable="true" type="q1:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsByFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="columnName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="orderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsByFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Models" minOccurs="0" name="GetAccountsByFilterResult" nillable="true" type="q2:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Models" minOccurs="0" name="SearchAccountsResult" nillable="true" type="q3:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAccountCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountCountByFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="columnName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountCountByFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAccountCountByFilterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Models" minOccurs="0" name="GetAccountResult" nillable="true" type="q4:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newAccountName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q5:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="UpdateAccountNameResult" nillable="true" type="q6:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToAccountNameKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToAccountNameKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertToAccountNameKeyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isOwner" type="xs:boolean" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q7:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="CreateAccountUserResult" nillable="true" type="q8:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Models" minOccurs="0" name="GetAccountUsersResult" nillable="true" type="q9:ArrayOfAccountUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Models" minOccurs="0" name="GetAccountUserResult" nillable="true" type="q10:AccountUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountsForEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountsForEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Models" minOccurs="0" name="GetAllAccountsForEmailResult" nillable="true" type="q11:ArrayOfUserAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountUserRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountUserRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAccountUserRolesResult" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccountUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q13:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccountUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="DeleteAccountUserResult" nillable="true" type="q14:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountUserRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newRole" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q15:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountUserRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="UpdateAccountUserRoleResult" nillable="true" type="q16:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountUserFullName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newFirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newLastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q17:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountUserFullNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="UpdateAccountUserFullNameResult" nillable="true" type="q18:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountOwnershipStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isOwner" type="xs:boolean" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q19:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountOwnershipStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="UpdateAccountOwnershipStatusResult" nillable="true" type="q20:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountUserActiveState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q21:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountUserActiveStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="UpdateAccountUserActiveStateResult" nillable="true" type="q22:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountUserEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q23:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountUserEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="UpdateAccountUserEmailResult" nillable="true" type="q24:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountUserProfilePhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageByteArray" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="requesterID" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q25:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountUserProfilePhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="UpdateAccountUserProfilePhotoResult" nillable="true" type="q26:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InviteAccountUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isOwner" type="xs:boolean" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q27:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InviteAccountUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="InviteAccountUserResult" nillable="true" type="q28:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountUserInvitations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountUserInvitationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Models" minOccurs="0" name="GetAccountUserInvitationsResult" nillable="true" type="q29:ArrayOfUserInvitation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountUserInvitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountAttribute" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="invitationKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountUserInvitationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Models" minOccurs="0" name="GetAccountUserInvitationResult" nillable="true" type="q30:UserInvitation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccountUserInvitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountAttribute" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="invitationKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q31:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccountUserInvitationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="DeleteAccountUserInvitationResult" nillable="true" type="q32:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendAccountUserInvitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountAttribute" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="invitationKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendAccountUserInvitationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="ResendAccountUserInvitationResult" nillable="true" type="q33:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterInvitedAccountUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountAttribute" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isOwner" type="xs:boolean" />
        <xs:element minOccurs="0" name="invitationKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterInvitedAccountUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="RegisterInvitedAccountUserResult" nillable="true" type="q34:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q35:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="UpdateAccountUserPasswordResult" nillable="true" type="q36:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimLostPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountAttribute" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimLostPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="ClaimLostPasswordResult" nillable="true" type="q37:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLostPasswordClaims">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountAttribute" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q38:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLostPasswordClaimsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Models" minOccurs="0" name="GetLostPasswordClaimsResult" nillable="true" type="q39:ArrayOfUserPasswordResetClaim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLostPasswordClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountAttribute" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordClaimKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLostPasswordClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLostPasswordClaimResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetLostPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountAttribute" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordClaimKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetLostPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="ResetLostPasswordResult" nillable="true" type="q40:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditCardInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q41:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditCardInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Models" minOccurs="0" name="GetCreditCardInfoResult" nillable="true" type="q42:AccountCreditCardInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUpdateCreditCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cvc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expirationMonth" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expirationYear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q43:RequesterType" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="origin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUpdateCreditCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="AddUpdateCreditCardResult" nillable="true" type="q44:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSubscripton">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="planName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="frequencyMonths" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cvc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expirationMonth" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expirationYear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q45:RequesterType" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="origin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSubscriptonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="CreateSubscriptonResult" nillable="true" type="q46:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="planName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="frequencyMonths" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q47:RequesterType" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="origin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="UpdateAccountPlanResult" nillable="true" type="q48:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountCapacity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountCapacityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Capacity.Models" minOccurs="0" name="GetAccountCapacityResult" nillable="true" type="q49:AccountCapacity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNameKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.DocumentModels" minOccurs="0" name="GetAccountSettingsResult" nillable="true" type="q50:AccountSettingsDocumentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNameKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.DocumentModels" minOccurs="0" name="accountSettingsDocumentModel" nillable="true" type="q51:AccountSettingsDocumentModel" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q52:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="UpdateAccountSettingsResult" nillable="true" type="q53:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThemes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThemesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Themes.Models" minOccurs="0" name="GetThemesResult" nillable="true" type="q54:ArrayOfThemeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxRecords" type="xs:int" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Sahara.Core.Logging.AccountLogs.Models" minOccurs="0" name="GetAccountLogResult" nillable="true" type="q55:ArrayOfAccountActivityLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountLogByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxRecords" type="xs:int" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountLogByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Sahara.Core.Logging.AccountLogs.Models" minOccurs="0" name="GetAccountLogByCategoryResult" nillable="true" type="q56:ArrayOfAccountActivityLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountLogByActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activityType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxRecords" type="xs:int" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountLogByActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Sahara.Core.Logging.AccountLogs.Models" minOccurs="0" name="GetAccountLogByActivityResult" nillable="true" type="q57:ArrayOfAccountActivityLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountLogByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxRecords" type="xs:int" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountLogByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Sahara.Core.Logging.AccountLogs.Models" minOccurs="0" name="GetAccountLogByUserResult" nillable="true" type="q58:ArrayOfAccountActivityLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountLogByObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objectId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxRecords" type="xs:int" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountLogByObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Sahara.Core.Logging.AccountLogs.Models" minOccurs="0" name="GetAccountLogByObjectResult" nillable="true" type="q59:ArrayOfAccountActivityLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountLogCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountLogCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAccountLogCategoriesResult" nillable="true" type="q60:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountLogActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountLogActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAccountLogActivitiesResult" nillable="true" type="q61:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseUnprovisionedAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q62:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseUnprovisionedAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="CloseUnprovisionedAccountResult" nillable="true" type="q63:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q64:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="CloseAccountResult" nillable="true" type="q65:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReactivateSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q66:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReactivateSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="ReactivateSubscriptionResult" nillable="true" type="q67:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoesAccountRequireClosureApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acountId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoesAccountRequireClosureApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoesAccountRequireClosureApprovalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountClosureApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isApproved" type="xs:boolean" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q68:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountClosureApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="UpdateAccountClosureApprovalResult" nillable="true" type="q69:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccelerateAccountClosure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q70:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccelerateAccountClosureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="AccelerateAccountClosureResult" nillable="true" type="q71:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>