4. Account Public API/InventoryHawk.Account.Public.Api/Service References/ApplicationImageRecordsService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ApplicationImageRecordsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IApplicationImageRecordsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Application.Images.Records.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Application.Images.Records.TableEntities" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Microsoft.WindowsAzure.Storage.Table" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApplicationImageRecordsService_GetImageRecordsForObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageRecordsForObject" />
  </wsdl:message>
  <wsdl:message name="IApplicationImageRecordsService_GetImageRecordsForObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageRecordsForObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationImageRecordsService_GetEmptyImageRecordTableEntityReference_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmptyImageRecordTableEntityReference" />
  </wsdl:message>
  <wsdl:message name="IApplicationImageRecordsService_GetEmptyImageRecordTableEntityReference_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmptyImageRecordTableEntityReferenceResponse" />
  </wsdl:message>
  <wsdl:portType name="IApplicationImageRecordsService">
    <wsdl:operation name="GetImageRecordsForObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationImageRecordsService/GetImageRecordsForObject" message="tns:IApplicationImageRecordsService_GetImageRecordsForObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationImageRecordsService/GetImageRecordsForObjectResponse" message="tns:IApplicationImageRecordsService_GetImageRecordsForObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmptyImageRecordTableEntityReference">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationImageRecordsService/GetEmptyImageRecordTableEntityReference" message="tns:IApplicationImageRecordsService_GetEmptyImageRecordTableEntityReference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationImageRecordsService/GetEmptyImageRecordTableEntityReferenceResponse" message="tns:IApplicationImageRecordsService_GetEmptyImageRecordTableEntityReference_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IApplicationImageRecordsService" type="tns:IApplicationImageRecordsService">
    <wsp:PolicyReference URI="#NetTcpBinding_IApplicationImageRecordsService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetImageRecordsForObject">
      <soap12:operation soapAction="http://tempuri.org/IApplicationImageRecordsService/GetImageRecordsForObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmptyImageRecordTableEntityReference">
      <soap12:operation soapAction="http://tempuri.org/IApplicationImageRecordsService/GetEmptyImageRecordTableEntityReference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplicationImageRecordsService">
    <wsdl:port name="NetTcpBinding_IApplicationImageRecordsService" binding="tns:NetTcpBinding_IApplicationImageRecordsService">
      <soap12:address location="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Application/ImageRecords" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Application/ImageRecords</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>