3. Account Admin/Project/Service References/AccountAuthenticationService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountAuthenticationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAccountAuthenticationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF.WcfEndpoints.Contracts.Account" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Security.Claims" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountAuthenticationService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IAccountAuthenticationService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountAuthenticationService_GetClaimsIdentity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimsIdentity" />
  </wsdl:message>
  <wsdl:message name="IAccountAuthenticationService_GetClaimsIdentity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimsIdentityResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountAuthenticationService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IAccountAuthenticationService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountAuthenticationService">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountAuthenticationService/Authenticate" message="tns:IAccountAuthenticationService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountAuthenticationService/AuthenticateResponse" message="tns:IAccountAuthenticationService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClaimsIdentity">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountAuthenticationService/GetClaimsIdentity" message="tns:IAccountAuthenticationService_GetClaimsIdentity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountAuthenticationService/GetClaimsIdentityResponse" message="tns:IAccountAuthenticationService_GetClaimsIdentity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountAuthenticationService/Logout" message="tns:IAccountAuthenticationService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountAuthenticationService/LogoutResponse" message="tns:IAccountAuthenticationService_Logout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAccountAuthenticationService" type="tns:IAccountAuthenticationService">
    <wsp:PolicyReference URI="#NetTcpBinding_IAccountAuthenticationService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://tempuri.org/IAccountAuthenticationService/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClaimsIdentity">
      <soap12:operation soapAction="http://tempuri.org/IAccountAuthenticationService/GetClaimsIdentity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/IAccountAuthenticationService/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountAuthenticationService">
    <wsdl:port name="NetTcpBinding_IAccountAuthenticationService" binding="tns:NetTcpBinding_IAccountAuthenticationService">
      <soap12:address location="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Account/Authentication" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Account/Authentication</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>