3. Account Admin/Project/Service References/ApplicationImagesService/Sahara.Core.Imaging.Models1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sahara.Core.Imaging.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Imaging.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ImageProcessingManifestModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormatNameKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupNameKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupTypeNameKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quality" type="xs:int" />
      <xs:element minOccurs="0" name="SourceContainerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageProcessingManifestModel" nillable="true" type="tns:ImageProcessingManifestModel" />
  <xs:complexType name="ImageCropCoordinates">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bottom" type="xs:float" />
      <xs:element minOccurs="0" name="Left" type="xs:float" />
      <xs:element minOccurs="0" name="Right" type="xs:float" />
      <xs:element minOccurs="0" name="Top" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageCropCoordinates" nillable="true" type="tns:ImageCropCoordinates" />
  <xs:complexType name="ImageEnhancementInstructions">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brightness" type="xs:int" />
      <xs:element minOccurs="0" name="Contrast" type="xs:int" />
      <xs:element minOccurs="0" name="Greyscale" type="xs:boolean" />
      <xs:element minOccurs="0" name="Polaroid" type="xs:boolean" />
      <xs:element minOccurs="0" name="Saturation" type="xs:int" />
      <xs:element minOccurs="0" name="Sepia" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sharpen" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageEnhancementInstructions" nillable="true" type="tns:ImageEnhancementInstructions" />
</xs:schema>