4. Account Public API/InventoryHawk.Account.Public.Api/Service References/ApplicationImageFormatsService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ApplicationImageFormatsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IApplicationImageFormatsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Application.Images.Formats.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApplicationImageFormatsService_GetImageFormatGroupTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageFormatGroupTypes" />
  </wsdl:message>
  <wsdl:message name="IApplicationImageFormatsService_GetImageFormatGroupTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageFormatGroupTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationImageFormatsService_GetImageFormats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageFormats" />
  </wsdl:message>
  <wsdl:message name="IApplicationImageFormatsService_GetImageFormats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageFormatsResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationImageFormatsService_CreateImageGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateImageGroup" />
  </wsdl:message>
  <wsdl:message name="IApplicationImageFormatsService_CreateImageGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateImageGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationImageFormatsService_CreateImageFormat_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateImageFormat" />
  </wsdl:message>
  <wsdl:message name="IApplicationImageFormatsService_CreateImageFormat_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateImageFormatResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationImageFormatsService_DeleteImageGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteImageGroup" />
  </wsdl:message>
  <wsdl:message name="IApplicationImageFormatsService_DeleteImageGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteImageGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationImageFormatsService_DeleteImageFormat_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteImageFormat" />
  </wsdl:message>
  <wsdl:message name="IApplicationImageFormatsService_DeleteImageFormat_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteImageFormatResponse" />
  </wsdl:message>
  <wsdl:portType name="IApplicationImageFormatsService">
    <wsdl:operation name="GetImageFormatGroupTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationImageFormatsService/GetImageFormatGroupTypes" message="tns:IApplicationImageFormatsService_GetImageFormatGroupTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationImageFormatsService/GetImageFormatGroupTypesResponse" message="tns:IApplicationImageFormatsService_GetImageFormatGroupTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageFormats">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationImageFormatsService/GetImageFormats" message="tns:IApplicationImageFormatsService_GetImageFormats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationImageFormatsService/GetImageFormatsResponse" message="tns:IApplicationImageFormatsService_GetImageFormats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateImageGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationImageFormatsService/CreateImageGroup" message="tns:IApplicationImageFormatsService_CreateImageGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationImageFormatsService/CreateImageGroupResponse" message="tns:IApplicationImageFormatsService_CreateImageGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateImageFormat">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationImageFormatsService/CreateImageFormat" message="tns:IApplicationImageFormatsService_CreateImageFormat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationImageFormatsService/CreateImageFormatResponse" message="tns:IApplicationImageFormatsService_CreateImageFormat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteImageGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationImageFormatsService/DeleteImageGroup" message="tns:IApplicationImageFormatsService_DeleteImageGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationImageFormatsService/DeleteImageGroupResponse" message="tns:IApplicationImageFormatsService_DeleteImageGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteImageFormat">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationImageFormatsService/DeleteImageFormat" message="tns:IApplicationImageFormatsService_DeleteImageFormat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationImageFormatsService/DeleteImageFormatResponse" message="tns:IApplicationImageFormatsService_DeleteImageFormat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IApplicationImageFormatsService" type="tns:IApplicationImageFormatsService">
    <wsp:PolicyReference URI="#NetTcpBinding_IApplicationImageFormatsService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetImageFormatGroupTypes">
      <soap12:operation soapAction="http://tempuri.org/IApplicationImageFormatsService/GetImageFormatGroupTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageFormats">
      <soap12:operation soapAction="http://tempuri.org/IApplicationImageFormatsService/GetImageFormats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateImageGroup">
      <soap12:operation soapAction="http://tempuri.org/IApplicationImageFormatsService/CreateImageGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateImageFormat">
      <soap12:operation soapAction="http://tempuri.org/IApplicationImageFormatsService/CreateImageFormat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImageGroup">
      <soap12:operation soapAction="http://tempuri.org/IApplicationImageFormatsService/DeleteImageGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImageFormat">
      <soap12:operation soapAction="http://tempuri.org/IApplicationImageFormatsService/DeleteImageFormat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplicationImageFormatsService">
    <wsdl:port name="NetTcpBinding_IApplicationImageFormatsService" binding="tns:NetTcpBinding_IApplicationImageFormatsService">
      <soap12:address location="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Application/ImageFormats" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Application/ImageFormats</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>