2. Platform Admin/Project/Service References/PlatformAuthenticationService/System.Security.Claims1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Security.Claims" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Security.Claims" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClaimsIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_actor" nillable="true" type="tns:ClaimsIdentity" />
      <xs:element minOccurs="0" name="m_authenticationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_bootstrapContext" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="m_label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_serializedClaims" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_serializedNameType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_serializedRoleType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaimsIdentity" nillable="true" type="tns:ClaimsIdentity" />
</xs:schema>