3. Account Admin/Project/Service References/ApplicationImageRecordsService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Application.Images.Records.Models" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Application.Images.Records.TableEntities" />
  <xs:element name="GetImageRecordsForObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNameKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageFormatGroupTypeNameKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objectId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageRecordsForObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sahara.Core.Application.Images.Records.Models" minOccurs="0" name="GetImageRecordsForObjectResult" nillable="true" type="q1:ArrayOfImageRecordGroupModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmptyImageRecordTableEntityReference">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmptyImageRecordTableEntityReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sahara.Core.Application.Images.Records.TableEntities" minOccurs="0" name="GetEmptyImageRecordTableEntityReferenceResult" nillable="true" type="q2:ImageRecordTableEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>