4. Account Public API/InventoryHawk.Account.Public.Api/Service References/ApplicationSearchService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ApplicationSearchService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IApplicationSearchService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Application.Search.Models.Product" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApplicationSearchService_ReindexProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:ReindexProducts" />
  </wsdl:message>
  <wsdl:message name="IApplicationSearchService_ReindexProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReindexProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationSearchService_GetProductFacets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductFacets" />
  </wsdl:message>
  <wsdl:message name="IApplicationSearchService_GetProductFacets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductFacetsResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationSearchService_GetProductSortables_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductSortables" />
  </wsdl:message>
  <wsdl:message name="IApplicationSearchService_GetProductSortables_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductSortablesResponse" />
  </wsdl:message>
  <wsdl:portType name="IApplicationSearchService">
    <wsdl:operation name="ReindexProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationSearchService/ReindexProducts" message="tns:IApplicationSearchService_ReindexProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationSearchService/ReindexProductsResponse" message="tns:IApplicationSearchService_ReindexProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductFacets">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationSearchService/GetProductFacets" message="tns:IApplicationSearchService_GetProductFacets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationSearchService/GetProductFacetsResponse" message="tns:IApplicationSearchService_GetProductFacets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductSortables">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationSearchService/GetProductSortables" message="tns:IApplicationSearchService_GetProductSortables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationSearchService/GetProductSortablesResponse" message="tns:IApplicationSearchService_GetProductSortables_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IApplicationSearchService" type="tns:IApplicationSearchService">
    <wsp:PolicyReference URI="#NetTcpBinding_IApplicationSearchService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ReindexProducts">
      <soap12:operation soapAction="http://tempuri.org/IApplicationSearchService/ReindexProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductFacets">
      <soap12:operation soapAction="http://tempuri.org/IApplicationSearchService/GetProductFacets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductSortables">
      <soap12:operation soapAction="http://tempuri.org/IApplicationSearchService/GetProductSortables" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplicationSearchService">
    <wsdl:port name="NetTcpBinding_IApplicationSearchService" binding="tns:NetTcpBinding_IApplicationSearchService">
      <soap12:address location="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Application/Search" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Application/Search</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>