4. Account Public API/InventoryHawk.Account.Public.Api/Service References/ApplicationTagsService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q1:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="CreateTagResult" nillable="true" type="q2:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNameKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTagsResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q4:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="DeleteTagResult" nillable="true" type="q5:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>