2. Platform Admin/Project/Service References/InfrastructureTestsService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InfrastructureTestsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IInfrastructureTestsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInfrastructureTestsService_PerformanceTest_InternalCaching_GetAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:PerformanceTest_InternalCaching_GetAccounts" />
  </wsdl:message>
  <wsdl:message name="IInfrastructureTestsService_PerformanceTest_InternalCaching_GetAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerformanceTest_InternalCaching_GetAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IInfrastructureTestsService_GetCurrentNodeName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentNodeName" />
  </wsdl:message>
  <wsdl:message name="IInfrastructureTestsService_GetCurrentNodeName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentNodeNameResponse" />
  </wsdl:message>
  <wsdl:message name="IInfrastructureTestsService_SendTestEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendTestEmail" />
  </wsdl:message>
  <wsdl:message name="IInfrastructureTestsService_SendTestEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendTestEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IInfrastructureTestsService">
    <wsdl:operation name="PerformanceTest_InternalCaching_GetAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfrastructureTestsService/PerformanceTest_InternalCaching_GetAccounts" message="tns:IInfrastructureTestsService_PerformanceTest_InternalCaching_GetAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfrastructureTestsService/PerformanceTest_InternalCaching_GetAccountsResponse" message="tns:IInfrastructureTestsService_PerformanceTest_InternalCaching_GetAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentNodeName">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfrastructureTestsService/GetCurrentNodeName" message="tns:IInfrastructureTestsService_GetCurrentNodeName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfrastructureTestsService/GetCurrentNodeNameResponse" message="tns:IInfrastructureTestsService_GetCurrentNodeName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendTestEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfrastructureTestsService/SendTestEmail" message="tns:IInfrastructureTestsService_SendTestEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfrastructureTestsService/SendTestEmailResponse" message="tns:IInfrastructureTestsService_SendTestEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IInfrastructureTestsService" type="tns:IInfrastructureTestsService">
    <wsp:PolicyReference URI="#NetTcpBinding_IInfrastructureTestsService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="PerformanceTest_InternalCaching_GetAccounts">
      <soap12:operation soapAction="http://tempuri.org/IInfrastructureTestsService/PerformanceTest_InternalCaching_GetAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentNodeName">
      <soap12:operation soapAction="http://tempuri.org/IInfrastructureTestsService/GetCurrentNodeName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTestEmail">
      <soap12:operation soapAction="http://tempuri.org/IInfrastructureTestsService/SendTestEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InfrastructureTestsService">
    <wsdl:port name="NetTcpBinding_IInfrastructureTestsService" binding="tns:NetTcpBinding_IInfrastructureTestsService">
      <soap12:address location="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Infrastructure/Tests" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Infrastructure/Tests</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>