2. Platform Admin/Project/Service References/AccountRegistrationService/Sahara.Core.Common.Validation.ResponseTypes1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.Validation.ResponseTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.Validation.ResponseTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ValidationResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="isValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="validationMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationResponseType" nillable="true" type="tns:ValidationResponseType" />
</xs:schema>