2. Platform Admin/Project/Service References/AccountRegistrationService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Registration.Models" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.Validation.ResponseTypes" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" />
  <xs:element name="RegisterAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Registration.Models" minOccurs="0" name="registerNewAccountModel" nillable="true" type="q1:RegisterNewAccountModel" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="RegisterAccountResult" nillable="true" type="q2:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAccountName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAccountNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.Validation.ResponseTypes" minOccurs="0" name="ValidateAccountNameResult" nillable="true" type="q3:ValidationResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.Validation.ResponseTypes" minOccurs="0" name="ValidateEmailResult" nillable="true" type="q4:ValidationResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePhoneNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePhoneNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.Validation.ResponseTypes" minOccurs="0" name="ValidatePhoneNumberResult" nillable="true" type="q5:ValidationResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateFirstName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateFirstNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.Validation.ResponseTypes" minOccurs="0" name="ValidateFirstNameResult" nillable="true" type="q6:ValidationResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLastName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLastNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.Validation.ResponseTypes" minOccurs="0" name="ValidateLastNameResult" nillable="true" type="q7:ValidationResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvisionAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" minOccurs="0" name="requesterType" type="q8:RequesterType" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvisionAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="ProvisionAccountResult" nillable="true" type="q9:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToAccountNameKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToAccountNameKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertToAccountNameKeyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>