2. Platform Admin/Project/Service References/AccountPaymentPlanService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountPaymentPlanService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAccountPaymentPlanService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.PaymentPlans.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountPaymentPlanService_GetPaymentPlans_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentPlans" />
  </wsdl:message>
  <wsdl:message name="IAccountPaymentPlanService_GetPaymentPlans_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentPlansResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountPaymentPlanService_GetPaymentFrequencies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentFrequencies" />
  </wsdl:message>
  <wsdl:message name="IAccountPaymentPlanService_GetPaymentFrequencies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentFrequenciesResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountPaymentPlanService_GetPaymentPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentPlan" />
  </wsdl:message>
  <wsdl:message name="IAccountPaymentPlanService_GetPaymentPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentPlanResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountPaymentPlanService_GetPaymentFrequency_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentFrequency" />
  </wsdl:message>
  <wsdl:message name="IAccountPaymentPlanService_GetPaymentFrequency_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentFrequencyResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountPaymentPlanService_CreatePaymentPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePaymentPlan" />
  </wsdl:message>
  <wsdl:message name="IAccountPaymentPlanService_CreatePaymentPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePaymentPlanResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountPaymentPlanService_UpdatePlanVisibility_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlanVisibility" />
  </wsdl:message>
  <wsdl:message name="IAccountPaymentPlanService_UpdatePlanVisibility_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlanVisibilityResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountPaymentPlanService_DeletePaymentPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePaymentPlan" />
  </wsdl:message>
  <wsdl:message name="IAccountPaymentPlanService_DeletePaymentPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePaymentPlanResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountPaymentPlanService">
    <wsdl:operation name="GetPaymentPlans">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountPaymentPlanService/GetPaymentPlans" message="tns:IAccountPaymentPlanService_GetPaymentPlans_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountPaymentPlanService/GetPaymentPlansResponse" message="tns:IAccountPaymentPlanService_GetPaymentPlans_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentFrequencies">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountPaymentPlanService/GetPaymentFrequencies" message="tns:IAccountPaymentPlanService_GetPaymentFrequencies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountPaymentPlanService/GetPaymentFrequenciesResponse" message="tns:IAccountPaymentPlanService_GetPaymentFrequencies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountPaymentPlanService/GetPaymentPlan" message="tns:IAccountPaymentPlanService_GetPaymentPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountPaymentPlanService/GetPaymentPlanResponse" message="tns:IAccountPaymentPlanService_GetPaymentPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentFrequency">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountPaymentPlanService/GetPaymentFrequency" message="tns:IAccountPaymentPlanService_GetPaymentFrequency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountPaymentPlanService/GetPaymentFrequencyResponse" message="tns:IAccountPaymentPlanService_GetPaymentFrequency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePaymentPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountPaymentPlanService/CreatePaymentPlan" message="tns:IAccountPaymentPlanService_CreatePaymentPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountPaymentPlanService/CreatePaymentPlanResponse" message="tns:IAccountPaymentPlanService_CreatePaymentPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlanVisibility">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountPaymentPlanService/UpdatePlanVisibility" message="tns:IAccountPaymentPlanService_UpdatePlanVisibility_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountPaymentPlanService/UpdatePlanVisibilityResponse" message="tns:IAccountPaymentPlanService_UpdatePlanVisibility_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePaymentPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountPaymentPlanService/DeletePaymentPlan" message="tns:IAccountPaymentPlanService_DeletePaymentPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountPaymentPlanService/DeletePaymentPlanResponse" message="tns:IAccountPaymentPlanService_DeletePaymentPlan_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAccountPaymentPlanService" type="tns:IAccountPaymentPlanService">
    <wsp:PolicyReference URI="#NetTcpBinding_IAccountPaymentPlanService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetPaymentPlans">
      <soap12:operation soapAction="http://tempuri.org/IAccountPaymentPlanService/GetPaymentPlans" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentFrequencies">
      <soap12:operation soapAction="http://tempuri.org/IAccountPaymentPlanService/GetPaymentFrequencies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentPlan">
      <soap12:operation soapAction="http://tempuri.org/IAccountPaymentPlanService/GetPaymentPlan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentFrequency">
      <soap12:operation soapAction="http://tempuri.org/IAccountPaymentPlanService/GetPaymentFrequency" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePaymentPlan">
      <soap12:operation soapAction="http://tempuri.org/IAccountPaymentPlanService/CreatePaymentPlan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlanVisibility">
      <soap12:operation soapAction="http://tempuri.org/IAccountPaymentPlanService/UpdatePlanVisibility" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePaymentPlan">
      <soap12:operation soapAction="http://tempuri.org/IAccountPaymentPlanService/DeletePaymentPlan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountPaymentPlanService">
    <wsdl:port name="NetTcpBinding_IAccountPaymentPlanService" binding="tns:NetTcpBinding_IAccountPaymentPlanService">
      <soap12:address location="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Account/PaymentPlan" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Account/PaymentPlan</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>