3. Account Admin/Project/Service References/ApplicationSearchService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Application.Search.Models.Product" />
  <xs:element name="ReindexProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNameKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReindexProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" minOccurs="0" name="ReindexProductsResult" nillable="true" type="q1:DataAccessResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductFacets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNameKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="includeHidden" type="xs:boolean" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductFacetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sahara.Core.Application.Search.Models.Product" minOccurs="0" name="GetProductFacetsResult" nillable="true" type="q2:ArrayOfProductSearchFacet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSortables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNameKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSortablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sahara.Core.Application.Search.Models.Product" minOccurs="0" name="GetProductSortablesResult" nillable="true" type="q3:ArrayOfProductSearchSortable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>