3. Account Admin/Project/Service References/ApplicationTagsService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ApplicationTagsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IApplicationTagsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApplicationTagsService_CreateTag_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTag" />
  </wsdl:message>
  <wsdl:message name="IApplicationTagsService_CreateTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTagResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationTagsService_GetTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTags" />
  </wsdl:message>
  <wsdl:message name="IApplicationTagsService_GetTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationTagsService_DeleteTag_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTag" />
  </wsdl:message>
  <wsdl:message name="IApplicationTagsService_DeleteTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTagResponse" />
  </wsdl:message>
  <wsdl:portType name="IApplicationTagsService">
    <wsdl:operation name="CreateTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationTagsService/CreateTag" message="tns:IApplicationTagsService_CreateTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationTagsService/CreateTagResponse" message="tns:IApplicationTagsService_CreateTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationTagsService/GetTags" message="tns:IApplicationTagsService_GetTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationTagsService/GetTagsResponse" message="tns:IApplicationTagsService_GetTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationTagsService/DeleteTag" message="tns:IApplicationTagsService_DeleteTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationTagsService/DeleteTagResponse" message="tns:IApplicationTagsService_DeleteTag_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IApplicationTagsService" type="tns:IApplicationTagsService">
    <wsp:PolicyReference URI="#NetTcpBinding_IApplicationTagsService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateTag">
      <soap12:operation soapAction="http://tempuri.org/IApplicationTagsService/CreateTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTags">
      <soap12:operation soapAction="http://tempuri.org/IApplicationTagsService/GetTags" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTag">
      <soap12:operation soapAction="http://tempuri.org/IApplicationTagsService/DeleteTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplicationTagsService">
    <wsdl:port name="NetTcpBinding_IApplicationTagsService" binding="tns:NetTcpBinding_IApplicationTagsService">
      <soap12:address location="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Application/Tags" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Application/Tags</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>