6. Account Registration Service/Project/Service References/AccountRegistrationService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountRegistrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAccountRegistrationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Accounts.Registration.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.ResponseTypes" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Common.Validation.ResponseTypes" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Platform.Requests.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountRegistrationService_RegisterAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountRegistrationService_RegisterAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountRegistrationService_ValidateAccountName_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateAccountName" />
  </wsdl:message>
  <wsdl:message name="IAccountRegistrationService_ValidateAccountName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateAccountNameResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountRegistrationService_ValidateEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateEmail" />
  </wsdl:message>
  <wsdl:message name="IAccountRegistrationService_ValidateEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountRegistrationService_ValidatePhoneNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePhoneNumber" />
  </wsdl:message>
  <wsdl:message name="IAccountRegistrationService_ValidatePhoneNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountRegistrationService_ValidateFirstName_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateFirstName" />
  </wsdl:message>
  <wsdl:message name="IAccountRegistrationService_ValidateFirstName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateFirstNameResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountRegistrationService_ValidateLastName_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateLastName" />
  </wsdl:message>
  <wsdl:message name="IAccountRegistrationService_ValidateLastName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateLastNameResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountRegistrationService_ProvisionAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:ProvisionAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountRegistrationService_ProvisionAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProvisionAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountRegistrationService_ConvertToAccountNameKey_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToAccountNameKey" />
  </wsdl:message>
  <wsdl:message name="IAccountRegistrationService_ConvertToAccountNameKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToAccountNameKeyResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountRegistrationService">
    <wsdl:operation name="RegisterAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountRegistrationService/RegisterAccount" message="tns:IAccountRegistrationService_RegisterAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountRegistrationService/RegisterAccountResponse" message="tns:IAccountRegistrationService_RegisterAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateAccountName">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountRegistrationService/ValidateAccountName" message="tns:IAccountRegistrationService_ValidateAccountName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountRegistrationService/ValidateAccountNameResponse" message="tns:IAccountRegistrationService_ValidateAccountName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountRegistrationService/ValidateEmail" message="tns:IAccountRegistrationService_ValidateEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountRegistrationService/ValidateEmailResponse" message="tns:IAccountRegistrationService_ValidateEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePhoneNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountRegistrationService/ValidatePhoneNumber" message="tns:IAccountRegistrationService_ValidatePhoneNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountRegistrationService/ValidatePhoneNumberResponse" message="tns:IAccountRegistrationService_ValidatePhoneNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateFirstName">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountRegistrationService/ValidateFirstName" message="tns:IAccountRegistrationService_ValidateFirstName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountRegistrationService/ValidateFirstNameResponse" message="tns:IAccountRegistrationService_ValidateFirstName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLastName">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountRegistrationService/ValidateLastName" message="tns:IAccountRegistrationService_ValidateLastName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountRegistrationService/ValidateLastNameResponse" message="tns:IAccountRegistrationService_ValidateLastName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProvisionAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountRegistrationService/ProvisionAccount" message="tns:IAccountRegistrationService_ProvisionAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountRegistrationService/ProvisionAccountResponse" message="tns:IAccountRegistrationService_ProvisionAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertToAccountNameKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountRegistrationService/ConvertToAccountNameKey" message="tns:IAccountRegistrationService_ConvertToAccountNameKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountRegistrationService/ConvertToAccountNameKeyResponse" message="tns:IAccountRegistrationService_ConvertToAccountNameKey_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAccountRegistrationService" type="tns:IAccountRegistrationService">
    <wsp:PolicyReference URI="#NetTcpBinding_IAccountRegistrationService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterAccount">
      <soap12:operation soapAction="http://tempuri.org/IAccountRegistrationService/RegisterAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateAccountName">
      <soap12:operation soapAction="http://tempuri.org/IAccountRegistrationService/ValidateAccountName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmail">
      <soap12:operation soapAction="http://tempuri.org/IAccountRegistrationService/ValidateEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePhoneNumber">
      <soap12:operation soapAction="http://tempuri.org/IAccountRegistrationService/ValidatePhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateFirstName">
      <soap12:operation soapAction="http://tempuri.org/IAccountRegistrationService/ValidateFirstName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLastName">
      <soap12:operation soapAction="http://tempuri.org/IAccountRegistrationService/ValidateLastName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProvisionAccount">
      <soap12:operation soapAction="http://tempuri.org/IAccountRegistrationService/ProvisionAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertToAccountNameKey">
      <soap12:operation soapAction="http://tempuri.org/IAccountRegistrationService/ConvertToAccountNameKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountRegistrationService">
    <wsdl:port name="NetTcpBinding_IAccountRegistrationService" binding="tns:NetTcpBinding_IAccountRegistrationService">
      <soap12:address location="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Account/Registration" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Account/Registration</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>