7. Account Registration Site/Project/Service References/PlatformSettingsService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PlatformSettingsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPlatformSettingsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF.WcfEndpoints.Contracts.Platform" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sahara.Core.Settings.Models.Partitions" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPlatformSettingsService_GetCorePlatformSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCorePlatformSettings" />
  </wsdl:message>
  <wsdl:message name="IPlatformSettingsService_GetCorePlatformSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCorePlatformSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IPlatformSettingsService_GetCurrentEnvironment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentEnvironment" />
  </wsdl:message>
  <wsdl:message name="IPlatformSettingsService_GetCurrentEnvironment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentEnvironmentResponse" />
  </wsdl:message>
  <wsdl:portType name="IPlatformSettingsService">
    <wsdl:operation name="GetCorePlatformSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlatformSettingsService/GetCorePlatformSettings" message="tns:IPlatformSettingsService_GetCorePlatformSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlatformSettingsService/GetCorePlatformSettingsResponse" message="tns:IPlatformSettingsService_GetCorePlatformSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentEnvironment">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlatformSettingsService/GetCurrentEnvironment" message="tns:IPlatformSettingsService_GetCurrentEnvironment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlatformSettingsService/GetCurrentEnvironmentResponse" message="tns:IPlatformSettingsService_GetCurrentEnvironment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPlatformSettingsService" type="tns:IPlatformSettingsService">
    <wsp:PolicyReference URI="#NetTcpBinding_IPlatformSettingsService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetCorePlatformSettings">
      <soap12:operation soapAction="http://tempuri.org/IPlatformSettingsService/GetCorePlatformSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentEnvironment">
      <soap12:operation soapAction="http://tempuri.org/IPlatformSettingsService/GetCurrentEnvironment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlatformSettingsService">
    <wsdl:port name="NetTcpBinding_IPlatformSettingsService" binding="tns:NetTcpBinding_IPlatformSettingsService">
      <soap12:address location="net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Platform/Settings" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://sahara.westus2.cloudapp.azure.com:8080/Services/Platform/Settings</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>